*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    color: white;
    background-color: black;
    min-height: 100vh;
  }
  h1 {
      margin: 5% 20%;
      position: relative;
      text-align: center;
      text-shadow: 1px 5px 1px white;
      font-family: 'Rye';
      color: #F5D215;
      font-size: 700%;
      display: flex;
  }

  p{
    color: white;
    margin: 20px 200px;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }


  .form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input {
    width: 40%;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
  }


  header {
      margin: 5%;
      position: relative;
      text-align: center;
      font-family: 'Rye';
      color: white;
      font-size: 200%;
      display: flex;
  }


  .header__content{
    background: grey;
    height: 100px;
    width: 100%;
  }
  .logo{
    position: absolute;
    padding: 20px 50px;
  }
  .lologo{
    height: 80px;
  }

  nav ul{
    float: right;
    margin-right: 20px;
  }

  .menu, .submenu{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

  .card-search{
    display: grid;
    place-content: center;
    padding: 0 0 5% 0;
  }
  .filtro-champions{
    position: center;
    padding: 0 0 5% 0;
  }
  img{
    width: 100%;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
    cursor: pointer;
  }
  .layout{
    max-width: 1200px;
    margin: 0 auto;
  }
  /* caard */
  .gallery{
    display: grid;
  /* leer grid */
    grid-auto-rows: 35rem;
    grid-template-columns: repeat(auto-fill,minmax(13rem,1fr));
    grid-gap: 2em .5em;
    padding: 0 1em;
  }
  .gallery__card{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .gallery__card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    backface-visibility: hidden;
    transition: 2s;
  }
  .gallery__card:hover {
    border: 2px solid #c28f2c;
  }
  .gallery__img{
    position: relative;
    object-fit: cover;
    object-position: 70%;
    height: 100%;
    border-bottom: 3px solid #c28f2c;
  }
  .gallery__info{
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding :1em 0;
  }
  .gallery__name{
    margin-top: 20px;
  }
  .gallery__reverse h4{
    font-size: 150%;
    align-items: flex-end;
  }
  .gallery__reverse h3{
    font-size: 150%;
    text-align: center;
  }
  .gallery__reverse{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 100%;
    padding : 40% 10%;
  }
  .gallery__card:hover .gallery__info {
    transform: rotateY(180deg);
  }
  .gallery__card:hover .gallery__reverse {
    transform: rotateY(360deg);
  }
  .gallery__name{
    margin-top: 20px;
  }

  @media screen and (min-width: 640px) {
    .gallery{

  grid-auto-rows: 25rem;

  }
  }

  .ocultar{
    display: none;
  }
