*,*:before, *:after{
  margin: 0;
  box-sizing: border-box;
} 
body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('Fondo-LoL.png');
  background-attachment: fixed;
  background-size: cover;
  
  font-family: 'Griffy', cursive, sans-serif;
}
/* titulo LOL */
h6{
  padding: 2%;
  font-size: 400%;
  text-align: center;
  color: #D6A805;
}
/* menú con las opciones de filtrado y ordenar */
.menu{
  margin: 0 0 0 5%;
  padding: 0 20% 3% 20%;
  column-count: 2;
  grid-auto-columns: auto;
}
#filtro_champions, #ordenado, select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
#filtro_champions{
	max-width: 250px;
	position: relative;
}
#filtro_champions select{
	display: inline-block;
	width: 100%;
  cursor: pointer;
	padding: 7px 10px;
	height: 42px;
	outline: 0; 
	border: 0;
  border-radius: 0;
  background: #8f8c8c;
  font-size: 1.3em;
  color: rgb(14, 13, 13);
  font-family: 'Griffy', cursive, sans-serif;
  border: 2px solid rgba(0,0,0,1);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}
#filtro_champions select:hover{
	background: #f1f3f2;
}
#ordenado{
	max-width: 250px;
	position: relative;
}
#ordenado select{
	display: inline-block;
  width: 100%;
  cursor: pointer;
	padding: 7px 10px;
	height: 42px;
	outline: 0; 
	border: 0;
  border-radius: 0;
  background: #8f8c8c;
  font-size: 1.3em;
  color: rgb(14, 13, 13);
  font-family: 'Griffy', cursive, sans-serif;
  border: 2px solid rgba(0,0,0,1);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}
#ordenado select:hover{
	background: #f1f3f2;
}

/* tarjetas */
.cards{
  width: 50%;
  height: 80%;
}
#cards_champs{
  width: 100%;
  height: auto;
  padding: 2%;
}
.card_front{
  padding: 3%;
  width: 80%;
  height: 50%;
  background-color: black;
  color: white;
}
.img_champ{
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
}
#nameChamp{
  font-size: 300%;
  margin-bottom: 2%;
  text-align: center;
}
#tagChamp{
  margin: 0 2% 2% 0;
  text-align: end;
}
.card_back{
  padding: 3%;
  width: 80%;
  height: 50%;
  background-color: black;
  color: white;
}
.title{
  font-size: 120%;
  padding: 2% 2% 2% 0;
}
#container{
  margin: 0 0 0 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}

/* Responsive */

@media only screen and (min-width:900px){
  .menu{
    margin: 0 0 0 5%;
    padding: 0 20% 3% 20%;
    flex-wrap: wrap;
  }
  
}

@media only screen and ((max-width:900px) and (min-width:449px)){}

@media only screen and ((max-width:449px) and (min-width:300px)){}