*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    color: white;
    background-color: black;
    min-height: 100vh;
  }
  h1 {
      margin: 5% 20%;
      position: relative; 
      text-align: center;
      text-shadow: 1px 5px 1px white;
      font-family: 'Rye';
      color: #F5D215;
      font-size: 700%;
      display: flex;
  }
  header {
      margin: 5%;
      position: relative;
      text-align: center;
      font-family: 'Rye';
      color: white;
      font-size: 200%;
      display: flex;
  }
  img{
    width: 100%;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  .layout{
    max-width: 1200px;
    margin: 0 auto;
  }
  /* caard */
  .gallery{
    display: grid;
  /* leer grid */
    grid-auto-rows: 35rem;
    grid-template-columns: repeat(auto-fill,minmax(13rem,1fr));
    grid-gap: 2em .5em;
    padding: 0 1em;
  }
  .gallery__card{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .gallery__card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    backface-visibility: hidden;
    transition: 1s;
  }
  .gallery__card:hover {
    border: 2px solid #c28f2c;
  }
  .gallery__img{
    position: relative;
    object-fit: cover;
    object-position: 70%;
    height: 100%;
  }
  .gallery__info h3{
    text-align: center;
  }
  .gallery__info{
    transform: perspective(500px) rotateY(0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding :1em 0;
    border-top: 2px solid #c28f2c;
  }
  .gallery__reverse h4{
    font-size: 150%;
    align-items: flex-end;
  }
  .gallery__reverse{
    transform: perspective(500px) rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 100%;
    padding : 55% 5%;
    border-top: 2px solid #c28f2c;
  }
  .gallery__card:hover .gallery__info {
    transform: perspective(500px) rotateY(180deg);
  }
  .gallery__card:hover .gallery__reverse {
    transform: perspective(500px) rotateY(360deg);
  }
  
  @media screen and (min-width: 640px) {
    .gallery{
  
  grid-auto-rows: 25rem;
  
  }
  }